{% extends 'base.html' %}
{% load bootstrap3 %}
{% block head %}
<title>{{ post.title }}</title>
<meta name="description" content="{{ post.description }}"/>
<meta name="keywords" content="{{ post.keywords }}"/>
{% endblock %}
 
{% block body %}
<div class="col-lg-9 col-md-9 col-sm-12">
  {% if post.visible %}
    <h1>{{ post.title }}</h1>
    <img src="{{ post.image.url }}" alt="">
    
    {% autoescape off %}
      {{ post.content }}
    {% endautoescape %}
    <p>{{ post.category.name }}</p>
    <h2>Коментарии</h2>
    {% for comment in comments %}
    <a name="coment-{{comment.id }}"></a>
      <div class="row" id="{{comment.id}}">
        <div class="col-md-{{ comment.get_col }} col-md-offset-{{comment.get_offset}}">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>{{ comment.author_id.get_full_name|default:comment.author_id.username }}</strong>
              {{ comment.pub_date }}
              <a href="#comment-{{comment.id}}">#</a>
            </div>
            <div class="panel-body">
            <div>{{ comment.content|safe }}</div>
              {% if form %} <a class="btn btn-default btn-xs pull-right"
                  onclick="return show_comments_form({{ comment.id }})">
                  {% bootstrap_icon "share-alt" %}&nbsp;&nbsp;Ответить</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    {% if request.user.is_authenticated %}
      <h3 id="write_comment"><a onclick="return show_comments_form('write_comment')">Написать комментарий</a></h3>
      <form id="comment_form" action=" {% url 'cooker_app:add_comment' post.id %} " method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %} 
          <button type="submit" class="btn btn-primary">{% bootstrap_icon "content" %}&nbsp;&nbsp;Комментировать</button>
        {% endbuttons %}
      </form>
    {% else %}
        <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Комментарии</h3>
            </div>
            <div class="panel-bode">
              Только авторизованные пользователи могут оставлять комментарии <br/>
            </div>
        </div>
    {% endif %}
  
  
  
  {% else %}
    <p>Страница не найдена</p>
  {% endif %}
  </div>
{% endblock %}
